body {
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    max-width: 1024px;
}

#logo {
    display: flex;
    justify-content: center;
}

#logo img {
    margin-block: 20px;
    height: 40px;
}

#header_accueil {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.location {
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    width: 100%;
    box-shadow: inset 0px 2px 2px #c9c8c8;
}

.location i {
    font-size: 18px;
    margin-right: 20px;
}

.slogan {
    margin: 0px;
    text-align: center;
}

.slogan + p {
    margin-left: 20px;
    margin-right: 20px;
    width: 90%;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    color: rgb(83, 78, 78);
}

h2 {
    color: black;
    margin: 20px 10px;
}
#decouverte {
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border: 1px solid #9356DC;
    width: 200px;
    border-radius: 35px;
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 5px 5px 5px 1px rgba(208, 203, 203, 0.75);
}

#decouverte:hover {
    box-shadow: 5px 5px 5px 1px rgba(235, 226, 226, 0.75);
    transform: scale(1.05);
    filter: contrast(1.6);
}
.box-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.button {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 25px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 5px #d2d2d6;
  }
  .button:hover {
    background-color: #f5edff;
    box-shadow: 0px 10px 10px #d2d2d6;
  }
  .button i {
    width:30px;
    display: flex;
    justify-content: center;
    color: #7e7e7e;
    
}
  .button:hover i {
    color: #9356dc;
}

  .button > p {
    margin-left: 0;
    font-weight: 500;
    width: 178px;
  }
  .button__number {
    width: 23px;
    height: 23px;
    position: absolute;
    left: -11.5px;
    display: flex;
    align-items: center;
    justify-content: center;;
    border-radius: 35px;
    background-color: #9356dc;
  }
  .button__number p {
    margin: 0 auto;
    color: white;
  }
  

.restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f7f7f7;
    padding-bottom: 50px;
    padding-top: 20px;
}

h3 {
    font-size: 25px;
}

.restaurant {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    border-radius: 20px;
    background-color: white;
    width: 88%;
    margin: 10px auto;
    box-shadow: 5px 5px 5px 1px rgba(220, 216, 216, 0.75);
   
}

.restaurant img {
    height: 140px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.restaurant a {
    width: 100%;
    text-decoration: none;
    color: black;
    align-items: flex-start;
}

.restaurant span {
    position: absolute;
    background-color: #99E2D0;
    color: #098b6b;
    font-weight: bold;
    padding: 4px 5px;
    top: 20px;
    right: 10px;
}

.description_coeurs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 50px;
    padding: 20px 10px;
}

.description {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px 10px;
}

.description p {
    margin-top: 5px;
}

.coeurs {
    font-size: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}

.coeurs .heart {
    position: relative;
    z-index: 1;
    cursor: pointer;
    -webkit-text-stroke: 0.2px #EEEEEE;
}

.coeurs .heart-color {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transform: scale(0);
    transition: 0.6s ease;
}

.coeurs .heart:hover .heart-color {
    transform: scale(1);
    opacity: 1;
}

.coeurs .heart:hover {
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px white;
}

footer {
    background-color: #353535;
    color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px 0;
}

footer a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    margin: 10px;
    margin-left: 45px;
}

footer img {
    filter: invert(1);
    width: 130px;
    margin: 10px 45px;
}

.loader-position {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    animation: loader-background 0.01s;
    animation-fill-mode: forwards;
    z-index: 10000;
    animation-delay: 1.75s;
}

.loader-spinner-logo {
    border: 10px #9356DC solid;
    border-top: 10px solid #FF79DA;
    border-bottom: 10px solid #1b8e38;
    border-left: 10px solid rgb(224, 22, 22);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    animation: loader 1200ms linear;
}

@keyframes loader-background {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -9999;
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        max-width: 768px;
    }
}
  




  
  
 
  
  